@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@media only screen and (max-width: 600px) {
	#table-container {
		width: 100%;
		padding: 0 10px;
	}	
    #table_left {
       width: 100% !important;
    }
	#login-container {
		width: 100%;
		padding: 0 14px;
	}
	#login {
		width: 100% !important;
	}
}

* { margin: 0; padding: 0; box-sizing: border-box;}
html, body { width: 100%; height: 100%; overflow-x: hidden; }
body {  font-family: "Roboto", sans-serif; font-size: 14px; line-height: 1.5em}

#login { width: 350px; margin: 80px auto; padding: 25px 50px; background: #FFFFFF; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
#login h3 { margin-bottom: 12px}
#login ul { list-style: none; }
#login ul li {padding: 5px;}
#login label {display: block; width: 100%}
#login input[type=submit] { margin-top: 12px;}
#login input[type=submit], button { 
  padding: 3px 5px; 
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(130, 224, 255);
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#login input[type=text], input[type=password] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;	
}
#login #staff_login { display: none; }


#table_left {border-collapse: collapse; height: 100%; margin: 0 auto; width: 550px; overflow-y: auto; display: none;}
#table_left td {vertical-align: 0;}

#group_chat { background: #000; padding: 3px; width: 100%; }
#group_chat input { border: 0; padding: 10px; width: 85%; margin-right: .5%; }
#group_chat button { width: 14%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: .3%;}


#tools { list-style-type: none; margin: 0; padding: 0; width: 5%;}
#tools li i {font-size: 25px; line-height: 36px; cursor: pointer; margin-left: 3px;} 
#tools #file_uploader {display: none}
#upload_token {color: #fff;}

#chatNoticeBoard { color: red; font-size: 12px; }
.uploaded_img {width: auto; height: auto; max-width: 300px;}

#messages { list-style-type: none; margin: 0; padding: 0 10px; width: 100%; height: 350px ;max-height: 350px; overflow-y: auto}
#messages li { padding: 5px 10px; border-bottom: 1px solid #d9d9d9; }
#users_online{ list-style-type: none; margin: 0; padding: 0; line-height: 30px}
#users_online li{  padding: 5px; display: inline-block;}
.fas .fa-volume-up { color: red}

#messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}


.lds-spinner {
color: #292929;
display: inline-block;
position: relative;
width: 64px;
height: 64px;
}
.lds-spinner div {
transform-origin: 32px 32px;
animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
content: " ";
display: block;
position: absolute;
top: 3px;
left: 29px;
width: 5px;
height: 14px;
border-radius: 20%;
background: #000;
}
.lds-spinner div:nth-child(1) {
transform: rotate(0deg);
animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
transform: rotate(30deg);
animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
transform: rotate(60deg);
animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
transform: rotate(90deg);
animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
transform: rotate(120deg);
animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
transform: rotate(150deg);
animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
transform: rotate(180deg);
animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
transform: rotate(210deg);
animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
transform: rotate(240deg);
animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
transform: rotate(270deg);
animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
transform: rotate(300deg);
animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
transform: rotate(330deg);
animation-delay: 0s;
}
@keyframes lds-spinner {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}
	  